*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'havetica neue';

}
html,
body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}
.box{
  height: 200px;
  width: 200px;
  background-color: aqua;
  margin-bottom: 10px;
  font-size: 100px;
}