* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  /* font-family: Arial, Helvetica, sans-serif; */
}

body{
    padding: 10px;
    background-color: aliceblue;
}

.User-card{
    height: 500px;
    width: 300px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: lightgray;
}

.all-cards{
    display: flex;
    flex-wrap: wrap;
}
